*{
    text-align: center;
    font-family: 'Times New Roman';
    background-color: black;
    color: antiquewhite;
}
p{
    font-weight: 100;
}
img{
    height:auto;
    width:500px;
}
/* boxes */
#paddingexample{
    background-color: red;
    font-size: 20px;
    padding: 10px;
    border: 30px solid #9b51e0;
    margin: 60px;
}